<h1>JokesOnYou</h1>



<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">JokesOnYou</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">About Us</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5 submit-form">
                <div *ngIf="!displayList && !displayMyList">
                    <h1 class="content-head is-center">JokesOnYou</h1>
                    <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                        <form class="pure-form pure-form-stacked">
                            <fieldset>
                                <label for="search"></label>
                                <input type="text" id="search" required [(ngModel)]="searchInput" name="search" placeholder="palabra en chiste" />
                            </fieldset>
                        </form>
                    </div>
                    <div class="inline">
                        <a (click)="searchJoke()" class="pure-button pure-button-primary btn-fixed-size inline">Buscar chiste</a>
                        <a (click)="randomJoke()" class="pure-button pure-button-primary btn-fixed-size inline">Chiste aleatorio</a>
                    </div>
                    <a (click)="getSavedJokes()" class="pure-button pure-button-primary btn-fixed-size">Mis chistes</a>
                    <br>
                    <br>
                    <span>
                        <p class="splash-subhead">
                            Mas Información de la API de chistes en 
                        </p>
                        <a href="https://sv443.net/jokeapi/v2">
                            https://sv443.net/jokeapi/v2
                        </a>
                    </span>
                </div>
                <div *ngIf="displayList">
                    <div *ngIf="jokeList.size === 0 && !searching">
                        <h4>No se encontraron chistes</h4>
                    </div>
                    <div *ngIf="jokeList.size !== 0">
                        <ul>
                            <li class="nobull" *ngFor="let joke of jokeList">
                                <div class="inline" *ngIf="!myJokes.has(joke)">
                                    <a (click)="saveJoke(joke)" class="pure-button pure-button-primary inline-btn">Guardar</a>
                                    <a (click)="openDialog(joke)" class="pure-button pure-button-primary inline-btn">Compartir</a>
                                    <h6 class="joke-item inline"> {{joke}} </h6>
                                </div>
                                <div class="inline" *ngIf="myJokes.has(joke)">
                                    <a class="pure-button pure-button-primary inline-btn">Guardado</a>
                                    <a (click)="openDialog(joke)" class="pure-button pure-button-primary inline-btn">Compartir</a>
                                    <h6 class="joke-item inline"> {{joke}} </h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <p>
                        <a (click)="clearSearch()" class="pure-button pure-button-primary btn-fixed-size">Volver</a>
                    </p>
                </div>
                <div *ngIf="displayMyList">
                    <div *ngIf="myJokes.size === 0">
                        <h4>No tienes chistes guardados</h4>
                    </div>
                    <div *ngIf="myJokes.size !== 0">
                        <ul>
                            <li class="nobull inline" *ngFor="let joke of myJokes">
                                <a (click)="removeJoke(joke)" class="pure-button pure-button-primary inline-btn">Eliminar</a>
                                <a (click)="openDialog(joke)" class="pure-button pure-button-primary inline-btn">Compartir</a>
                                <h6 class="joke-item inline"> {{joke}} </h6>
                            </li>
                        </ul>
                    </div>
                    <p>
                        <a (click)="exitMyList()" class="pure-button pure-button-primary btn-fixed-size">Volver</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>